# Analisis Teks Cuitan di Twitter

### Mengambil data dari Twitter

In [ ]:
#Jika belum terinstal tweepy dapat menginstal dengan perintah berikut:
!pip install tweepy
import tweepy
import pandas as pd
from tweepy import OAuthHandler

Requirement already satisfied: tweepy in /usr/local/lib/python3.6/dist-packages (3.6.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from tweepy) (1.3.0)
Requirement already satisfied: PySocks>=1.5.7 in /usr/local/lib/python3.6/dist-packages (from tweepy) (1.7.1)
Requirement already satisfied: requests>=2.11.1 in /usr/local/lib/python3.6/dist-packages (from tweepy) (2.23.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from tweepy) (1.15.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from requests-oauthlib>=0.7.0->tweepy) (3.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.11.1->tweepy) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.11.1->tweepy) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.11.1->tweepy) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.11.1->tweepy) (1.24.3)

In [ ]:
# Memperoleh akses data ke Twitter
# http://apps.twitter.com
consumer_key = 'GkJjw1K9ZaJ6dzQrFzCFHnFou'
consumer_secret = 'pKdZdTcB8nDZaT8pk3gSnQGdzlBx4L3yrXwTrHVeS5rdX0xoEy' 
access_token = '955350081544142848-H4gMpsVgTGnVZk4vHxL0MI6l988WmpF' 
access_secret = 'U9K8dOGNeF94MeZJ7tIs0jDi3OQySFoGBMY8nFypsSTwV'

# membuat object authentication ke API Twitter
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
# mensetting access token and secret key
auth.set_access_token(access_token, access_secret)
# melakukan authentication ke Twitter API
api = tweepy.API(auth)

In [ ]:
#Mengumpulkan cuitan dengan KATA KUNCI TERTENTU
tweets_data = []
api = tweepy.API(auth, wait_on_rate_limit=True)
for tweet in tweepy.Cursor(api.search,q="GIBRAN").items(10000):
    tweets_data.append([tweet.author.screen_name,
                        tweet.lang,
                        tweet.created_at,
                        tweet.favorite_count,
                        tweet.retweet_count,
                        tweet.text,
                        tweet.user.location])
print(tweets_data)

In [ ]:
    #Mengubah data cuitan ke dalam DataFrame
import pandas as pd
tweets_pd = pd.DataFrame(tweets_data,
                         columns=['screen_name', 'lang', 'created_at', 'fav_count', 'retweet_count', 'text', 'location'])
display(tweets_pd)

         screen_name  ...           location
0      gibran_jordao  ...
1       captainrodes  ...      Baltimore, MD
2           amymhayu  ...  Veracruz, México.
3        MarcosFunkh  ...             Mexico
4           ggomezr1  ...
..               ...  ...                ...
995      LuisMonVall  ...
996  Jaqueline_S_MCA  ...
997    AbnerAguirre3  ...    Jalisco, México
998  RicoBeaColeman1  ...    Wakanda, Africa
999    gantoniobarba  ...

[1000 rows x 7 columns]

In [ ]:
# mengkonversi dataframe ke file csv
bytes_to_write = tweets_pd.to_csv('hasil_scrapping22September_2.csv')